
* {
margin: 0px;
padding: 0px;
}

body {
    text-align: center;

    background: url("../imagenes_video/fondo.jpg");

    font-family:  Verdana, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;


}

.peleadores{
    height: 100px;
    width: 150px;
}


section h1, footer h1, nav a, aside h3

{

    font-family: Verdana , serif;

    font-weight: normal;

    text-transform: uppercase;

}

/*cabecera*/
header h1
{
    font-family:  serif;
    font-size: 2.5em;
    font-weight: normal;
  
}

#cabecera
{
    border-radius: 10px;
    background-color:white;
    box-shadow: 0px 4px 4px #1c1a19;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    height: auto;
}
header img{
    width: 60%;
    height: auto;

    
}

/* Navegación */

nav
{
    margin-left:auto;
    margin-right:auto;
   
}



nav li
{
    display: inline-block;
    list-style: none;
    padding: 5px;
 
}

nav a
{
    font-size: 1.3em;
    color: #FFFFFF;
    text-decoration: none;
}

nav a:hover
{
    color: rgb(0, 0, 0) ;
    border-bottom: 3px solid rgb(0, 0, 0) ;
}


/* Cuerpo */

section {
float: left;
width: 70%; 
margin: 20px;
margin-left:5%;
}


article, aside
{
    display: inline-block;
    
}

article
{

background: rgb(255, 255, 255 );
border: 1px solid #999999;
padding: 20px;
margin-bottom: 15px;
border-radius: 10px;
}
  

article p
{
    font-size: 0.8em;
    text-align: left;

}


/*columna*/
aside
{
   
float: left;
width: 220px;
margin: 20px 0px;
padding: 20px;
background: grey;
box-shadow: 0px 2px 5px #1c1a19;
border-radius: 10px;
font-family: sans-serif;
text-align: center;
color: black;
font-size: 0.9em;

}

aside h2 {
 padding: 30px 15px;    
}

aside div{
    padding: 15px 30px;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin-bottom: 30px;
    
}


/* Pie de página */

footer
{
clear: both;
text-align: center;
padding: 20px;
border-top: 2px solid #999999; 
font-size: 0.8em;
font-family: sans-serif;
color: #FFFFFF;
}



















